#contact
{
    text-align: center;
   background-color: aqua;
}
#home
{
    text-align: center;
    background-image: url(unnamed%20(1).jpg
}
#marqeestyle
{
    background-color: aquamarine;
}
#video
{
    text-align: center;
}
#campuslife
{
    text-align: center;
}
#achivements
{
    text-align: center;
}
#iframeblala
{
    text-align: center;
    width:1000px;
    height: 1000px;
}
#whatsnew
{
    text-align: center;
}
#alumini
{
    text-align: center;
}
#hectic
{
    text-align: center;
    height: 1000px;
    width: 1000px;
}
